
html, body {
    padding: 0;
    margin: 0;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* header */

header {
    background-color: white;
    height: 40%;
    width: auto;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 15vw;
}

.menu {
    color: #8b5a2b;
    font-size: 4rem;
}

#menu {
    padding: 15%;
    width: 10%;
}

#logo-img {
    height: 45vh; 
    width: auto;
    object-fit: cover;
    border-radius: 0;
    margin-left: 0;
}

.active {
  font-weight: bold;
}

.dropdown-text {
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
    color: #8b5a2b;
    padding: 0.5rem;
    }

.dropdown {
    height: auto;
    max-height: 20vh;
    width: 25%;
}

#dropdown-section {
    height: auto;
    width: 20vw;
    background-color: #f5b8b7;
    font-size: 1.5rem;
    margin-left: 2vw;
    margin-top: -2vh;
    position: absolute;
    z-index: auto;
    border-radius: 1rem;
    padding: 1rem;
    display: none;
    opacity: 0.9;
}

a {
    text-decoration: none;
}

hr {
  border: none;
  height: 2px;
  background-color: #fcd0cf;
  margin-bottom: 1rem;
} 

/* main */

#product-collection {
    width: 100%;
    /* height: 100%; */
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 5rem;
    justify-content: space-around;
}

.products {
    width: 43%;
    height: 110vh;
    /* background-color: #fcd0cf; */
    display: block;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    border: 0.5rem solid #fcd0cf;
    padding: 3rem;
}


.name, .price {
    color: #422101;
    font-size: 2.5rem;
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
}

.name {
    padding: 0.6rem;
    font-weight: bold;
}

.price {
    padding: 0.6rem;
    text-align: center;
}

.buy-btn {
    color: #422101;
    background-color: white;
    border: 0.5rem solid #422101;
    font-size: 3rem;
    padding: 0.2rem;
}

.buy-btn:click {
    color: white;
    background-color: #422101;
}

.main-text {
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
    font-size: 4.5rem;
    color: #422101; 
    padding: 4rem 4rem 1rem 4rem;
}

.img-container {
    width: 100%;
    height: 50vh;
}

img, video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* for Mobile Phones */

@media (max-width: 460.99px) {

    header {
        width: 100%;
        height: 30%;
        /* background-color: black; */
        box-sizing: border-box;
    }

    nav {
        gap: 0rem;
    }

    #dropdown-section {
        height: auto;
        width: 50vw;
    }

    .dropdown-text {
        font-size: 1rem;
    }

    .menu {
        font-size: 2rem;
        margin-top: 10%;
    }

    #dropdown-section {
        margin-top: 0.2vh;
    }

    /* main */


    #product-collection {
        gap: 2rem;
        padding: 2rem;
    }


    .products {
        height: 40vh;
        padding: 1rem;
        border: 0.3rem solid #fcd0cf;
    }

    .main-text {
        font-size: 1.4rem;
        padding: 2.5rem 2.5rem 1rem 2.5rem;
    }

    .img-container {
        height: 20vh;
    }

    .name, .price {
        /* color: #8b5a2b; */
        font-size: 1rem;
    }

    .name {
        padding: 0.2rem;
        font-weight: bold;
    }

    .price {
        padding: 0.2rem;
        text-align: center;
    }

    .buy-btn {
        font-size: 1rem;
        padding: 0.2rem;
        border: 0.3rem solid #422101;
    }
}

@media (min-width: 461px) and (max-width: 767.99px) {

    header {
        width: 100%;
        height: 30%;
        /* background-color: black; */
        box-sizing: border-box;
    }

    nav {
        gap: 5vw;
    }

    #dropdown-section {
        height: auto;
        width: 50vw;
    }

    .dropdown-text {
        font-size: 1rem;
    }

    .menu {
        font-size: 2rem;
        margin-top: 10%;
    }

    #dropdown-section {
        margin-top: 0.2vh;
    }

    /* main */


    #product-collection {
        gap: 2rem;
        padding: 2rem;
    }


    .products {
        height: 60vh;
        padding: 1rem;
        border: 0.3rem solid #fcd0cf;
    }

    .main-text {
        font-size: 1.4rem;
        padding: 2.5rem 2.5rem 1rem 2.5rem;
    }

    .img-container {
        height: 30vh;
    }

    .name, .price {
        font-size: 1.5rem;
    }

    .name {
        padding: 0.4rem;
        font-weight: bold;
    }

    .price {
        padding: 0.4rem;
        text-align: center;
    }

    .buy-btn {
        font-size: 1.5rem;
        padding: 0.2rem;
        border: 0.3rem solid #422101;
    }
}


@media (min-width: 768px) and (max-width: 1024.99px) {
    
    header {
        width: 100%;
        /* background-color: red; */
    }

    nav {
        gap: 8vw;
    }

    .menu {
        font-size: 3rem;
        margin-top: 10%;
    }


    .dropdown-text {
        font-size: 1.5rem;
    }

    hr {
        margin-bottom: 0.8rem;
    }

    .main-text {
        font-size: 3rem;
        padding: 3rem 3rem 1rem 3rem;
    }

    #product-collection {
        gap: 3.5rem;
        padding: 3.5rem;
    }

    .products {
        height: 75vh;
        padding: 2rem;
        border: 0.3rem solid #fcd0cf;
    }

    .img-container {
        height: 40vh;
    }

    .name, .price {
        font-size: 1.5rem;
    }

    .name {
        padding: 0.6rem;
        font-weight: bold;
    }

    .price {
        padding: 0.6rem;
        text-align: center;
    }

    .buy-btn {
        font-size: 2rem;
        padding: 0.2rem;
        border: 0.3rem solid #422101;
    }
}

@media (min-width: 1025px) and (max-width: 1200.99px) {
    
    header {
        width: 100%;
        /* background-color: green; */
    }

    .menu {
        font-size: 4rem;
        margin-top: 10%;
    }

    .main-text {
        font-size: 3.5rem;
        padding: 4rem 4rem 1rem 4rem;
    }

    #product-collection {
        gap: 4rem;
        padding: 4rem;
    }

    .products {
        height: 95vh;
        padding: 3rem;
        border: 0.3rem solid #fcd0cf;
    }

    .img-container {
        height: 50vh;
    }

    .name, .price {
        font-size: 2rem;
    }

    .name {
        padding: 0.6rem;
        font-weight: bold;
    }

    .price {
        padding: 0.6rem;
        text-align: center;
    }

    .buy-btn {
        font-size: 3rem;
        padding: 0.2rem;
        border: 0.3rem solid #422101;
    }
}
