
html, body {
    padding: 0;
    margin: 0;
    background-color: #fadadd;
    width: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header {
    /* background-color: white; */
    height: 40%;
    width: auto;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 15vw;
}

.menu {
    color: #5C2E00;
    font-size: 4rem;
}

#menu {
    padding: 15%;
    width: 10%;
}

.items {
    width: 100vw;
    margin: 5%;
    padding-left: 15vw;
    color: #5C2E00;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
}

#item-collection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 0;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#logo-img {
    height: 45vh; 
    width: auto;
    object-fit: cover;
    border-radius: 0;
    margin-left: 0;
}

.about-heading {
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
    font-size: 4.5rem;
    color: #5C2E00;
    padding: 10rem;
    font-weight: 500;
    text-align: center;
    padding: 0;
    padding-bottom: 3rem;
    display: flex;
    align-self: center;
    justify-self: center;
}


.about-us {
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
    font-size: 3rem;
    color: #5C2E00;
    padding: 6rem;
}

.indent {
    text-indent: 5rem;
    text-align: justify;
}

.item-text {
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
    font-size: 4.5rem;
    color: #5C2E00;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 1;
}

.heading {
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
    font-size: 6rem;
    color: #422101;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100vw;
    margin: 5%;
    padding-left: 15vw;
    box-sizing: border-box;
    z-index: 1;
}

a {
    text-decoration: none;
}

.active {
  font-weight: bold;
}

.dropdown-text {
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
    color: #5C2E00;
    padding: 0.5rem;
    z-index: 1;
}

a .div {
    z-index: 1;
}

.dropdown {
    height: auto;
    max-height: 20vh;
    width: 25%;
}

#dropdown-section {
    height: auto;
    width: 20vw;
    background-color: #abdaf2;
    font-size: 1.5rem;
    margin-left: 2vw;
    margin-top: -2vh;
    position: absolute;
    z-index: auto;
    border-radius: 1rem;
    padding-left: 1rem;
    display: none;
    opacity: 0.9;
}

.main-hr {
    background-color: #a5e0fe;
    border: none;
    height: 2px;
}

.menu-hr {
    border: none;
    height: 2px;
    /* background-color: #abdaf2f7; */
    background-color: #FF6E91;
    margin-bottom: 1rem;
    padding-left: 0;
} 

footer {
    background-color: #abdaf2;
    height: 40%;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: #5C2E00;
}

.footer-text {
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
    font-size: 3rem;
    padding: 4.5rem;
}

/* for Mobile Phones */

@media (max-width: 600.99px) {

    header {
        width: 100%;
        height: 30%;
        /* background-color: black; */
        box-sizing: border-box;
    }

    nav {
        gap: 0rem;
    }

    .item-text {
        font-size: 2rem;
    }

    .about-heading {
        font-size: 2rem;
    }

    .about-us {
        font-size: 1.5rem;
        padding: 2rem;
    }

    .heading {
        font-size: 3rem;
    }

    #dropdown-section {
        height: auto;
        width: 50vw;
    }

    .dropdown-text {
        font-size: 1rem;
    }

    .menu {
        font-size: 2rem;
    }

    #dropdown-section {
        margin-top: 0.2vh;
    }

    .chick1, .chick2, .chick3, .chick4, .chick1-1, .chick2-1, .chick3-1, .chick4-1, .chick1-3, .chick2-3, .chick3-3, .chick4-3, .chick1-2, .chick2-2, .chick3-2, .chick4-2, .chick1-4, .chick2-4, .chick3-4, .chick4-4, .chick1-5, .chick2-5, .chick3-5, .chick4-5, .chick1-6, .chick2-6, .chick3-6, .chick4-6, .chick1-7, .chick2-7, .chick3-7, .chick4-7, .chick1-8, .chick2-8, .chick3-8, .chick4-8, .chick1-9, .chick2-9, .chick3-9, .chick4-9, .chick1-10, .chick2-10, .chick3-10, .chick4-10, .chick1-11, .chick2-11, .chick3-11, .chick4-11, .chick1-12, .chick2-12, .chick3-12, .chick4-12, .chick1-13, .chick2-13, .chick3-13, .chick4-13, .chick1-14, .chick2-14, .chick3-14, .chick4-14, .chick1-15, .chick2-15, .chick3-15, .chick4-15 {
    width: 20vw;
    }

    main {
        width: 100vw;
    }


    .footer-text {
        font-size: 1rem;
        padding: 1.5rem;
    }

    .chick7, .chick11, .chick9, .chick19, .chick2,.chick17, .chick16, .chick6 {
        visibility: hidden;
    }

    .chick18 {
        left: 60%
    } 

}

@media (min-width: 601px) and (max-width: 767.99px) {

    header {
        width: 100%;
        height: 30%;
        /* background-color: black; */
        box-sizing: border-box;
    }

    nav {
        gap: 5vw;
    }

    .about-us, .item-text {
        font-size: 2rem;
    }

    .about-heading, .heading {
        font-size: 3rem;
    }
    
    .about-us {
        padding: 4rem;
    }

    #dropdown-section {
        height: auto;
        width: 50vw;
    }

    .dropdown-text {
        font-size: 1rem;
    }

    .menu {
        font-size: 2rem;
    }

    #dropdown-section {
        margin-top: 0.2vh;
    }

    .chick1, .chick2, .chick3, .chick4, .chick1-1, .chick2-1, .chick3-1, .chick4-1, .chick1-3, .chick2-3, .chick3-3, .chick4-3, .chick1-2, .chick2-2, .chick3-2, .chick4-2, .chick1-4, .chick2-4, .chick3-4, .chick4-4, .chick1-5, .chick2-5, .chick3-5, .chick4-5, .chick1-6, .chick2-6, .chick3-6, .chick4-6, .chick1-7, .chick2-7, .chick3-7, .chick4-7, .chick1-8, .chick2-8, .chick3-8, .chick4-8, .chick1-9, .chick2-9, .chick3-9, .chick4-9, .chick1-10, .chick2-10, .chick3-10, .chick4-10, .chick1-11, .chick2-11, .chick3-11, .chick4-11, .chick1-12, .chick2-12, .chick3-12, .chick4-12, .chick1-13, .chick2-13, .chick3-13, .chick4-13, .chick1-14, .chick2-14, .chick3-14, .chick4-14, .chick1-15, .chick2-15, .chick3-15, .chick4-15 {
    width: 23vw;
    }

    .chick17, .chick16, .chick6, .chick7, .chick2 {
        visibility: hidden;
    }

    .chick18 {
        left: 60%
    } 


    .footer-text {
        font-size: 1rem;
        padding: 1.5rem;
    }

}

@media (min-width: 768px) and (max-width: 1024.99px) {
    
    header {
        width: 100%;
        /* background-color: red; */
    }

    nav {
        gap: 8vw;
    }

    .menu {
        font-size: 3rem;
        margin-top: 10%;
    }

    .about-us, .item-text {
        font-size: 3rem;
    }

    .about-heading, .heading {
        font-size: 4.5rem;
    }

    .about-us {
        padding: 4rem;
    }

    .dropdown-text {
        font-size: 1.5rem;
    }

    hr {
        margin-bottom: 0.8rem;
    }

    .chick1, .chick2, .chick3, .chick4, .chick1-1, .chick2-1, .chick3-1, .chick4-1, .chick1-3, .chick2-3, .chick3-3, .chick4-3, .chick1-2, .chick2-2, .chick3-2, .chick4-2, .chick1-4, .chick2-4, .chick3-4, .chick4-4, .chick1-5, .chick2-5, .chick3-5, .chick4-5, .chick1-6, .chick2-6, .chick3-6, .chick4-6, .chick1-7, .chick2-7, .chick3-7, .chick4-7, .chick1-8, .chick2-8, .chick3-8, .chick4-8, .chick1-9, .chick2-9, .chick3-9, .chick4-9, .chick1-10, .chick2-10, .chick3-10, .chick4-10, .chick1-11, .chick2-11, .chick3-11, .chick4-11, .chick1-12, .chick2-12, .chick3-12, .chick4-12, .chick1-13, .chick2-13, .chick3-13, .chick4-13, .chick1-14, .chick2-14, .chick3-14, .chick4-14, .chick1-15, .chick2-15, .chick3-15, .chick4-15 {
    width: 20vw;
    }

    .chick17, .chick16, .chick6 {
        visibility: hidden;
    }

    .chick18 {
        left: 60%
    } 



    .footer-text {
        font-size: 2rem;
        padding: 3.5rem;
    }
}

@media (min-width: 1025px) and (max-width: 1200.99px) {
    
    header {
        width: 100%;
        /* background-color: green; */
    }

    .menu {
        font-size: 4rem;
        margin-top: 10%;
    }

    
    .item-text {
        font-size: 3.5rem;
    }

    .chick1, .chick2, .chick3, .chick4, .chick1-1, .chick2-1, .chick3-1, .chick4-1, .chick1-3, .chick2-3, .chick3-3, .chick4-3, .chick1-2, .chick2-2, .chick3-2, .chick4-2, .chick1-4, .chick2-4, .chick3-4, .chick4-4, .chick1-5, .chick2-5, .chick3-5, .chick4-5, .chick1-6, .chick2-6, .chick3-6, .chick4-6, .chick1-7, .chick2-7, .chick3-7, .chick4-7, .chick1-8, .chick2-8, .chick3-8, .chick4-8, .chick1-9, .chick2-9, .chick3-9, .chick4-9, .chick1-10, .chick2-10, .chick3-10, .chick4-10, .chick1-11, .chick2-11, .chick3-11, .chick4-11, .chick1-12, .chick2-12, .chick3-12, .chick4-12, .chick1-13, .chick2-13, .chick3-13, .chick4-13, .chick1-14, .chick2-14, .chick3-14, .chick4-14, .chick1-15, .chick2-15, .chick3-15, .chick4-15 {
    width: 20vw;
    }

    .chick17, .chick16, .chick6 {
        visibility: hidden;
    }

    .chick18 {
        left: 60%
    } 



    .footer-text {
        font-size: 3rem;
        padding: 4.5rem;
    }
}
