
html, body {
    padding: 0;
    margin: 0;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header {
    background-color: white;
    height: 40%;
    width: auto;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 15vw;
}

.menu {
    color: #5C2E00;
    font-size: 4rem;
}

#menu {
    padding: 15%;
    width: 10%;
}

.items {
    width: 100vw;
    margin: 5%;
    padding-left: 15vw;
    color: #5C2E00;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
}

#item-collection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 0;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#logo-img {
    height: 45vh; 
    width: auto;
    object-fit: cover;
    border-radius: 0;
    margin-left: 0;
}

.chick1, .chick2, .chick3, .chick4, .chick5, .chick6, .chick7, .chick8, .chick9, .chick10, .chick11, .chick12, .chick13, .chick14  {
    opacity: 0.5;
    width: 10vw;
    z-index: 0;
}

.chick1 {
    transform: rotate(30deg);
    position: absolute;
    top: 50%;
    left: 70%;
}

.chick2 {
    transform: rotate(310deg);
    position: absolute;
    top: 300%;
    right: 10%;
}

.chick3 {
    transform: rotate(180deg);
    position: absolute;
    top: 90%;
    left: 50%;
}

.chick4 {
    transform: rotate(200deg);
    position: absolute;
    top: 40%;
    left: 2%;
}


.chick5 {
    transform: rotate(70deg);
    position: absolute;
    top: 120%;
    left: 70%;
}

.chick6 {
    transform: rotate(90deg);
    position: absolute;
    top: 340%;
    left: 40%;
}


.chick7 {
    transform: rotate(210deg);
    position: absolute;
    top: 300%;
    left: 5%;
}

.chick8 {
    transform: rotate(30deg);
    position: absolute;
    top: 50%;
    left: 70%;
}

.chick9 {
    transform: rotate(310deg);
    position: absolute;
    top: 250%;
    left: 10%;
}

.chick10 {
    transform: rotate(180deg);
    position: absolute;
    top: 150%;
    left: 50%;
}

.chick11 {
    transform: rotate(200deg);
    position: absolute;
    top: 230%;
    left: 40%;
}


.chick12 {
    transform: rotate(70deg);
    position: absolute;
    top: 190%;
    left: 70%;
}

.chick13 {
    transform: rotate(90deg);
    position: absolute;
    top: 100%;
    left: 3%;
}


.chick14 {
    transform: rotate(210deg);
    position: absolute;
    top: 200%;
    left: 5%;
}



.item-text {
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
    font-size: 4.5rem;
    color: #5C2E00;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 1;
}

.heading {
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
    font-size: 6rem;
    color: #422101;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100vw;
    margin: 5%;
    padding-left: 15vw;
    box-sizing: border-box;
    z-index: 1;
}

a {
    text-decoration: none;
}

.active {
  font-weight: bold;
}

.dropdown-text {
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
    color: #5C2E00;
    padding: 0.5rem;
}

.dropdown {
    height: auto;
    max-height: 20vh;
    width: 25%;
}

#dropdown-section {
    height: auto;
    width: 20vw;
    background-color: #fadadd;
    font-size: 1.5rem;
    margin-left: 2vw;
    margin-top: -2vh;
    position: absolute;
    z-index: auto;
    border-radius: 1rem;
    padding-left: 1rem;
    display: none;
    opacity: 0.9;
}

.main-hr {
    background-color: #fadadd;
    border: none;
    height: 2px;
}

.menu-hr {
    border: none;
    height: 2px;
    /* background-color: #abdaf2f7; */
    background-color: #FF6E91;
    margin-bottom: 1rem;
    padding-left: 0;
} 

footer {
    background-color: #fae6e8;
    height: 40%;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: #5C2E00;
}

.footer-text {
    font-family: "cormorant garamond", "playfair display", "libre baskerville", sans-serif;
    font-size: 3rem;
    padding: 4.5rem;
}

/* for Mobile Phones */

@media (max-width: 600.99px) {

    header {
        width: 100%;
        height: 30%;
        /* background-color: black; */
        box-sizing: border-box;
    }

    nav {
        gap: 0rem;
    }

    .item-text {
        font-size: 2rem;
    }

    .heading {
        font-size: 3rem;
    }

    #dropdown-section {
        height: auto;
        width: 50vw;
    }

    .dropdown-text {
        font-size: 1rem;
    }

    .menu {
        font-size: 2rem;
    }

    #dropdown-section {
        margin-top: 0.2vh;
    }

    .footer-text {
        font-size: 1rem;
        padding: 1.5rem;
    }

}

@media (min-width: 601px) and (max-width: 767.99px) {

    header {
        width: 100%;
        height: 30%;
        /* background-color: black; */
        box-sizing: border-box;
    }

    nav {
        gap: 5vw;
    }

    .item-text {
        font-size: 2rem;
    }

    .heading {
        font-size: 3rem;
    }

    #dropdown-section {
        height: auto;
        width: 50vw;
    }

    .dropdown-text {
        font-size: 1rem;
    }

    .menu {
        font-size: 2rem;
    }

    #dropdown-section {
        margin-top: 0.2vh;
    }

    .footer-text {
        font-size: 1rem;
        padding: 1.5rem;
    }

}

@media (min-width: 768px) and (max-width: 1024.99px) {
    
    header {
        width: 100%;
        /* background-color: red; */
    }

    nav {
        gap: 8vw;
    }

    .menu {
        font-size: 3rem;
        margin-top: 10%;
    }

    .item-text {
        font-size: 3rem;
    }

    .heading {
        font-size: 4.5rem;
    }


    .dropdown-text {
        font-size: 1.5rem;
    }

    hr {
        margin-bottom: 0.8rem;
    }

    .footer-text {
        font-size: 2rem;
        padding: 3.5rem;
    }
}

@media (min-width: 1025px) and (max-width: 1200.99px) {
    
    header {
        width: 100%;
        /* background-color: green; */
    }

    .menu {
        font-size: 4rem;
        margin-top: 10%;
    }

    
    .item-text {
        font-size: 3.5rem;
    }

    .footer-text {
        font-size: 3rem;
        padding: 4.5rem;
    }
}
